body {

}

#top {
  height: 10em;

}

#mid {
  height: 14em;
}

.seq_list {
  float: left;
  margin-left: 3em;
  text-align: center;
}

.seq {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  border: solid 1px;
}

#bottom {
  height: 10em;

}
